<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome!!</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="content">
      <span
        ><a href="https://github.com/SakibFarhad" target="_blank">
          <fa-icon [icon]="faGithub_fawsm"></fa-icon>
        </a>
      </span>
      <span
        ><a
          href="https://www.facebook.com/md.sakib.ibne.farhad"
          target="_blank"
        >
          <fa-icon [icon]="faFacebook_fawns"></fa-icon> </a
      ></span>
      <span
        ><a href="https://www.reddit.com/user/sakib_farhad" target="_blank">
          <fa-icon [icon]="faReddit_fawsn"></fa-icon> </a
      ></span>
      <span
        ><a
          href="https://www.linkedin.com/in/md-sakib-ibne-farhad-54279562/"
          target="_blank"
        >
          <fa-icon [icon]="faLinkidin_fawsm"></fa-icon> </a
      ></span>
      <span
        ><a
          href="https://stackoverflow.com/users/6342106/sakib-farhad"
          target="_blank"
        >
          <fa-icon [icon]="faStackOverflow_fawsm"></fa-icon> </a
      ></span>
    </div>
  </div>
</nav>
