<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome!!</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
    <div class="content">
      <span><a href="https://github.com/SakibFarhad" target="_blank"><i class="fab fa-github fa-lg"></i></a></span>
      <span><a href="https://www.facebook.com/md.sakib.ibne.farhad" target="_blank"><i class="fab fa-facebook fa-lg"></i></a></span>
      <span><a href="https://www.reddit.com/user/sakib_farhad" target="_blank"><i class="fab fa-reddit fa-lg"></i></a></span>
      <span><a href="https://www.linkedin.com/in/md-sakib-ibne-farhad-54279562/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></span>
      <span><a href="https://stackoverflow.com/users/6342106/sakib-farhad" target="_blank"><i class="fab fa-stack-overflow fa-lg"></i></a></span>
    </div>
  </div>
</nav>
